.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared style */
.cmn-color{
    color: #FD6E0A;
}

/* nav bar design start */

nav{
    display: flex;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}