.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* universal dsign */
* {
    margin: opx;
    padding: 0px;
}

/* Shared style */
.cmn-color {
    color: #FD6E0A;
}

.cmn-btn {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

.cmn-bg {
    background-color: #FFF8F3;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575
}



/* Header section design start */
.head {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}



/* nav bar design start */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 230px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}

nav ul {
    display: flex;
    gap: 45px;
    align-items: center;
}


/* Banner section design start */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 38px 0 230px;
}

.banner-content {
    max-width: 585px;
    margin-top: 80px;
}

.banner-intro {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.bnr-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

#banner-btn-2 {
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}



/* main tag style start */
main {
    max-width: 1140px;
    margin: 0 auto;
}



/* about section style start */
.about {
    padding: 130px 155px;
    margin-top: 130px;
    border-radius: 10px;
    text-align: center;
}

.section-items {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.section-items div {
    text-align: center;
}

.item-title {
    font-size: 20px;
    font-weight: 400px;
    color: #757575;
    margin-bottom: 8px;
}

.itm-data {
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    margin-top: 8px;
}

.inner-about {
    background-color: #FFFFFF;
    border: 1px solid black;
}



/* What I do section design start */
.skill {
    margin-top: 130px;
}

.skill-info {
    text-align: center;
    padding: 0 120px;
}

.skill-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skill-box {
    /* border: 1px solid black; */
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-size: 16px;
    font-weight: 400;
    color: #757575
}



/* Resume section design start */
.resume {
    margin-top: 150px;
}

.resume-container {
    display: flex;
    gap: 24px;
    margin-bottom: 50px;
    justify-content: center;
    margin-top: 50px;
    padding: 0 70px;
}

.resume-title {
    font-size: 30px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
    margin-bottom: 30px;
}

.resume-sub-title {
    font-size: 25px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
}

.constitution {
    font-size: 20px;
    font-weight: 600;
    color: rgba(117, 117, 117, 1);
    margin-top: 10px;
    margin-bottom: 20px;
}

.resume-container hr {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* footer section design start */
footer{
    display: flex;
    justify-content: center;
    gap: 117px;
    padding: 100px 0;
    margin-top: 113px;
}
.Connect{
    max-width: 562px;
}

footer div a {
    margin-right: 24px;
}
.msg{
    width: 461px;
}

footer input[type="text"],
input[type="email"],
textarea {
    font-size: 16px;
    font-weight: 400;
    padding: 18px 30px;
    display: block;
    margin-bottom: 24px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: white;
}